name: pinput


environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"


dependencies:
  flutter:
    sdk: flutter
  smart_auth: ^1.0.8
  universal_platform: ^1.0.0+1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1